

<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
  CROWD.ED Dashboard
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div class="row">
   <div class="col-xs-12 text-center">
      <h2 class="text-thin pull-left">Question of the Day Summary</h2>
      <br/>
      <br/>
      <br/>
      <div >
         <div >
            <h2>Question 7</h2>
            <h3>Posted on 3/1/2015</h3>
         </div>

         <div style="display:inline-block">
            <img class="animated fadeIn" src="app/img/qod7.png" />
            <img class="animated fadeIn" src="app/img/bar07.png" width="449px;" />
         </div>
      </div>
      <br/>
      <hr/>
      <div >
         <h2>Policy Problem Responses</h2>
         <h3>Posted on 3/1/2015</h3>
      </div>
      <div class="well" style="text-align:left;">
         <h3>Submission #1</h3>
         <h4>John Smith - Teacher</h4>
         <p>Aeque denique explicari duo eu. Graece euripidis vim ad. Et eum habemus abhorreant, mel ei paulo ignota, ne cetero audiam sea. Amet diceret accumsan ad sit, quo solet insolens deserunt cu.

            Eum nibh expetendis vituperatoribus id. Duo an ludus maiorum. Unum labitur discere vel an, novum tation ea quo, an velit convenire molestiae ius. Eripuit iudicabit argumentum qui ut. Eum voluptua invidunt posidonium ut.

            Odio facer erant his in, mel ex ferri delectus deseruisse. Doming graeco essent ne mea, vel laudem quodsi accusata ad, sumo indoctum signiferumque et nec. Clita feugiat vim ei, denique principes no usu. His eu salutatus instructior, tale praesent in mei, nonumy alienum id has. Ne nec choro </p>
      </div>
      <div class="well" style="text-align:left;">
         <h3>Submission #2</h3>
         <h4>Nancy Cooper - Teacher</h4>
         <p>Aeque denique explicari duo eu. Graece euripidis vim ad. Et eum habemus abhorreant, mel ei paulo ignota, ne cetero audiam sea. Amet diceret accumsan ad sit, quo solet insolens deserunt cu.

            Eum nibh expetendis vituperatoribus id. Duo an ludus maiorum. Unum labitur discere vel an, novum tation ea quo, an velit convenire molestiae ius. Eripuit iudicabit argumentum qui ut. Eum voluptua invidunt posidonium ut.

            Odio facer erant his in, mel ex ferri delectus deseruisse. Doming graeco essent ne mea, vel laudem quodsi accusata ad, sumo indoctum signiferumque et nec. Clita feugiat vim ei, denique principes no usu. His eu salutatus instructior, tale praesent in mei, nonumy alienum id has. Ne nec choro </p>
      </div>
      <div class="well" style="text-align:left;">
         <h3>Submission #3</h3>
         <h4>Wesley Pfifer - Analyst </h4>
         <p>Aeque denique explicari duo eu. Graece euripidis vim ad. Et eum habemus abhorreant, mel ei paulo ignota, ne cetero audiam sea. Amet diceret accumsan ad sit, quo solet insolens deserunt cu.

            Eum nibh expetendis vituperatoribus id. Duo an ludus maiorum. Unum labitur discere vel an, novum tation ea quo, an velit convenire molestiae ius. Eripuit iudicabit argumentum qui ut. Eum voluptua invidunt posidonium ut.

            Odio facer erant his in, mel ex ferri delectus deseruisse. Doming graeco essent ne mea, vel laudem quodsi accusata ad, sumo indoctum signiferumque et nec. Clita feugiat vim ei, denique principes no usu. His eu salutatus instructior, tale praesent in mei, nonumy alienum id has. Ne nec choro </p>
      </div>
   </div>

</div>

